.icon-row {
  display: flex;
  width: 100%;
}
.icon-row2 {
  display: flex;
  width: 100%;
}
.icon-row__icon:first-child {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon:nth-child(2) {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon:nth-child(3) {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon:last-child {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row2 {
  padding-top: 25px;
}
.icon-row__icon2:first-child {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon2:nth-child(2) {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
}
.icon-row__icon2 i {
  font-size: 35px;
}
.icon-row__icon span {
  margin-top: 18px;
}
.icon-row__icon2 span {
  margin-top: 18px;
}
